<button (click)="toggleFullscreen()">Request Fullscreen</button>
<graph-viewer
    [graphData]="graphData"
    [animate]="true"
    [layoutSettings]="layoutSettings"
    [fullscreen]="fullscreen"
    [select]="selectNode"
    (nodeClick)="log('nodeClickEvent', $event)"
    (nodeOver)="log('nodeOverEvent', $event)"
    (edgeClick)="log('edgeClick', $event)"
    (edgeOver)="log('edgeOver', $event)"
    (graphInitialised)="log('graph initialised', $event)"
    (onSelectionChange)="log('selection changed', $event)"
></graph-viewer>

