<button (click)="toggleFullscreen()">Request Fullscreen</button>
<graph-viewer
    [graphData]="graph"
    [animate]="true"
    [layoutSettings]="layoutSettings"
    [fullscreen]="fullscreen"
    [toggleNodeSelection]="selectNode"
    [toggleEdgeSelection]="selectEdge"
    [toggleNodeHighlight]="hightlightNode"
    [toggleEdgeHighlight]="hightlightEdge"
    (onNodeSelectChange)="log('nodeSelectChange', $event)"
    (onNodeHighlightChange)="log('nodeHighlightChange', $event)"
    (onEdgeSelectChange)="log('edgeSelectChange', $event)"
    (onEdgeHighlightChange)="log('edgeHighlightChange', $event)"
    (graphInitialised)="log('graph initialised', $event)"
></graph-viewer>

