<button (click)="toggleFullscreen()">Request Fullscreen</button>
<graph-viewer
    [graphData]="initialGraph"
    [animate]="true"
    [layoutSettings]="layoutSettings"
    [fullscreen]="fullscreen"
    [toggleNodeSelection]="selectNode"
    [toggleEdgeSelection]="selectEdge"
    [toggleNodeHighlight]="hightlightNode"
    [toggleEdgeHighlight]="hightlightEdge"
    [addNodes]="addNodes"
    [addEdges]="addEdges"
    [dropNodes]="dropNodes"
    [dropEdges]="dropEdges"
    (onNodeSelectChange)="log('nodeSelectChange', $event)"
    (onNodeHighlightChange)="log('nodeHighlightChange', $event)"
    (onEdgeSelectChange)="log('edgeSelectChange', $event)"
    (onEdgeHighlightChange)="log('edgeHighlightChange', $event)"
    (graphInitialised)="graphUpdated($event)"
    (graphUpdated)="graphUpdated($event)"
    (onDestroy)="log('viewer destroyed', $event)"
></graph-viewer>

